@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

:root {
  --bg-color: #f7f7f7;
  --search-border-color: #CED4DA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
}

p {
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

footer {
  position: sticky;
  top: 100vh;
  width: 100%;
}
